
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 30px;
}

nav {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

nav li {
    display: inline-block;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 5px 10px;
}

nav a:hover {
    text-decoration: underline;
}


.header {
    margin-top: 50px;
    text-align: center;
}

h1 {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid black;
    margin: 80px 50px 50px 80px;
    padding: 20px;
}

footer {
    margin-bottom: 50px;
}

.footer {
    font-size: 1.875rem;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.footer ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}


.container {
    width: 600px;
    border: 2px solid rgb(20, 19, 19);
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 80px;
    row-gap: 50px;
    align-self: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.container > div {
    padding: 30px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 800px) {
    .container {
        width: 90%;
        grid-template-columns: 1fr;
        padding: 15px;
    }

    h1 {
        margin: 40px 20px;
    }
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 2px solid black;
}

.img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}