html {
    font-family: "Helvetica", "Arial", sans-serif;
}

nav{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    .Block{
        border: 1px solid grey;
        height: 100px;
        width: 250px;
        background-color: grey;
        margin-right: 10px;
    }
    .Block-two{
        border: 1px solid pink;
        height: 100px;
        width: 250px;
        background-color: pink;
        margin-right: 10px;
    }
}

.online-table{
    table {
        table-layout: fixed;
        width: 90%;
        margin: 10px auto;
        border-collapse: collapse;
        border-top: 1px solid #999999;
        border-bottom: 1px solid #999999;
    }

    th,
    td {
        vertical-align: top;
        padding: 0.3em;
    }

    tr :nth-child(2),
    tr :nth-child(3) {
        text-align: right;
        width: 15%;
        background-color: #fa98aa;
        border: solid black 1px;
    }

    tr :nth-child(1),
    tr :nth-child(4) {
        text-align: left;
        width: 35%;
        background-color: #ed3f5e;
        border: solid black 1px;
    }

    tbody tr:nth-child(odd) {
        background-color: #eeeeee;
        border: solid black 1px;
    }

    tfoot tr :nth-child(1) {
        text-align: right;
        background-color:pink;
        border: solid black 1px;
    }

    tfoot tr :nth-child(2) {
        text-align: left;
        background-color: #e38797;
        border: solid black 1px;
    }


    tfoot {
        border-top: 1px solid #999999;
        background-color: pink;
        border: solid black 1px;
    }

    caption {
        padding: 1em;
        font-style: italic;
        caption-side: bottom;
        letter-spacing: 1px;
    }
}

.First-table{
    margin-bottom: 2rem;
    .container{
        display: flex;
        justify-content: center;
        table {
            table-layout: fixed;
            width: 90%;
            margin: 10px auto;
            border-collapse: collapse;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            td{
                border-left: 1px solid black;
                border-bottom: 1px solid black;
            }


            tbody tr:nth-child(even){
                background-color: grey;
            }
            tr:nth-child(odd){
                background-color: #a3a3e6;
            }
        }

    }
}


.Second-table{
    margin-bottom: 2rem;
    .container{
        display: flex;
        justify-content: center;
        table {
            table-layout: fixed;
            width: 90%;
            margin: 10px auto;
            border-collapse: collapse;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            td{
                border-left: 1px solid black;
                border-bottom: 1px solid black;
                text-align: center;
            }
            th{
                border-left: 1px solid black;
                border-bottom: 1px solid black;
                background-color:pink;
            }

            tbody tr:nth-child(even){
                background-color: #ec7b7b;
            }
            tbody tr:nth-child(odd){
                background-color: #a3a3e6;
            }

            tfoot{
                background-color: grey;
            }
        }

    }
}

.Third-table{
    margin-bottom: 2rem;
    .container{
        display: flex;
        justify-content: center;
        table{
            table-layout: fixed;
            width: 90%;
            margin: 10px auto;
            border-collapse: collapse;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            tr{
                border-left: 1px solid black;
                border-right: 1px solid black;
            }
            th{
                border-left: 1px solid black;
            }
            td{
                border: 1px solid black;
            }
            tr:nth-child(even) {
                background-color: rgba(150, 212, 212, 0.4);
            }

            th:nth-child(even),td:nth-child(even) {
                background-color: rgba(150, 212, 212, 0.4);
            }
        }
    }
}

.Forth-table{
    margin-bottom: 2rem;
    .container{
        display: flex;
        justify-content: center;
        table{
            table-layout: fixed;
            width: 90%;
            margin: 10px auto;
            border-collapse: collapse;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            tr{
                border-left: 1px solid black;
                border-right: 1px solid black;
            }
            th{
                border-left: 1px solid black;
            }
            td{
                border: 1px solid black;
            }
            th{
                background-color: #5d5de3;

            }
            th:nth-child(-n+1){
                background-color: white;
            }
            td:nth-child(-n+1){
                background-color: #e12a2a;
            }
            td:nth-child(n+2){
                background-color: #008069;
            }
        }
    }

}

