header{
    font-style: Segoe UI, Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    nav{
        display: flex;
        text-align: center;
        .block_one{
            line-height: 95px;
            margin-left: 1rem;
            width: 300px;
            height: 100px;
            background-color: pink;
            font-size: 3rem;
        }
        .block_two{
            line-height: 95px;
            margin-left: 1rem;
            width: 300px;
            height: 100px;
            background-color: #4e4ee4;
            font-size: 3rem;
        }
        a{
            padding: 10px;
            color: black;
            text-decoration: none;

        }
        a:hover{
            background-color:white;
            color: #f4b4b4;
        }
    }
}

.picture-section{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    picture{
        margin-left: 1rem;
    }

}

.text-section{
    margin-bottom:2rem;
    display: grid;
    justify-content:center;
    grid-column: auto;
    .style_one{
        margin-bottom: 1rem;
        padding: 10px;
        border: solid black 1px;
    }
    .style_two{
        margin-bottom: 1rem;
        padding: 10px;
        border: solid black 1px;
    }
    .style_three{
        margin-bottom: 1rem;
        padding: 10px;
        border: solid black 1px;
        display:grid;
        justify-content: center;
        table{
            border: 2px black solid;
            border-collapse: collapse;
            table-layout: fixed;
            margin-bottom:1rem;
            td, tr, th{
                border:black solid 2px;
                padding: 10px 10px 5px 5px;

            }
        }
    }
}

.circle-section{
    margin-top: 2rem;
    margin-bottom: 4rem;
    display:flex;
    justify-content:center;
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom:3rem;
        border: 4px solid black;
        height: 600px;
        width: 1000px;
        background-color:aliceblue;
        position: relative;
        .circle_one{
            margin-top:50px;
            margin-left:80px;
            height: 120px;
            width: 120px;
            border-radius: 50%;
            border: 1px solid black;
            background-color: grey;
            position: absolute;
        }
        .circle_two{
            margin-top:250px;
            margin-left:100px;
            height: 220px;
            width: 220px;
            border-radius: 50%;
            border: 1px solid black;
            background-color: red;
            position: absolute;
        }
        .circle_three{
            margin-top:340px;
            margin-left:800px;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            border: 1px solid black;
            background-color: yellow;
            position: absolute;
        }
        .rectangle_one{
            margin-top:290px;
            margin-left:490px;
            height: 100px;
            width: 200px;
            border: 1px solid black;
            background-color: blue;
            position: absolute;
        }
        .rectangle_two{
            margin-top:150px;
            margin-left:400px;
            height: 100px;
            width: 200px;
            border: 1px solid black;
            background-color: green;
            position: absolute;
        }
    }
}