body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:rgb(200,150,90);
    color:aliceblue;
    line-height:1.4rem;
    font-size:0.9em;

}

.gridcontainer{
    margin-left: 2rem;
    display:grid;
    grid-template-columns:minmax(75%, 1fr) minmax(15%, 1fr);
    article{
        margin:1rem;
        grid-column:1/2;
    }
    aside{
        margin:1rem;
        grid-column:2/2;
    }
}


.ingress{
    font-weight:700;
    color: grey;
}

.secondbox{
    background-image: url(https://student.oslomet.no/documents/585736/46552123/Str%C3%B8mbrudd+2400+x1200.jpg/70cb4090-8acd-07d6-ade6-bbb23903dbc2?t=1761917893078);
    background-size:cover;
    width:99%;
    height:60vw;
}

aside{
    background-color:rgb(240, 200, 120);
    padding-left:1em;
    padding-top:0.1em;
    padding-bottom:0.25em;
}

aside > p{
    font-family: Times New Roman, Times, serif;
    font-style: oblique;
    font-size:larger;
}

footer > div{
    margin-left:2rem;
    margin-bottom:0.4rem;
    padding:0.4rem;
    border-style: dashed;
    font-size:smaller;
}

#burger-toggle{display:none}

@media (min-width:701px){
    .menu{
        display:flex;
        list-style-type:none;
        justify-content:center;
        text-align:center;
        flex-direction:row;
    }
    .menu li{
        text-align:center;
        padding-right:3rem;
        padding-left:3rem;
        margin-right:2rem;
        margin-left:2rem;
    }
    li:hover{
        color:black;
        background:aliceblue;
        text-align:center;
    }
    h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:500;
        font-size:1.9rem;
        display:flex;
    }
}
@media (max-width:700px){
    .menu{
        list-style-type:none;
        position:sticky;
        padding-left:0;
        width:100%;
        height:40px;
    }
    .menu-icon{
        display:block;
        background-image:url(../images/burger-two.png);
        background-size:cover;
        width:40px;
        height:40px;
    }
    .menu li{
        height:0;
        overflow:hidden;
        text-decoration:none;
    }

    .hamburger-toggle-container{cursor:pointer;}

    #burger-toggle:checked ~ .menu li{
        width:50px;
        height:1.2rem;
        background-color:rgb(200,150,90);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
    }

    nav{
        display:flex;
        height:40px;
    }
    h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:500;
        font-size:1.9rem;
        display:flex;
    }
    .gridcontainer{
        grid-template-columns: auto;
        article{
            grid-column:1/1;
        }
        aside{
            grid-column:2/1;
        }
    }
}
.menu{
    li:first-child{font-weight:700;}
}