body{
    background-color: rgba(230, 215, 170, 0.38);
}

header{
    margin-top:10px;
    margin-bottom:10px;
    nav{
        display:flex;
        justify-content:center;
        .box_one{
            width:400px;
            height:100px;
            background-color: #0080dc;
            border:1px solid #006fff;
            border-radius:5px;
        }
        .box_two{
            width:400px;
            height:100px;
            background-color: #4200f6;
            border:1px solid #8c00ff;
            border-radius:5px;
        }
        a{
            margin: 10px;
            color:black;
            text-align: center;
            line-height: 95px;
            font-size: 2rem;
            text-decoration:none;
        }
        .box_one:hover{
            background-color: white;
            border:1px solid black;
            border-radius:5px;
        }
        .box_two:hover{
            background-color:white;
            border:1px solid black;
            border-radius:5px;
        }
    }
}

main{
    margin-top:20px;
    margin-bottom:30px;
    display:grid;
    grid-template-columns: auto auto;
    .text{
        grid-column:1/2;
        margin-left:50px;
        border-radius:5px;
        .style-one{
            padding:15px;
            margin-bottom:10px;
            border:1px solid black;
            border-radius: 10px;
            h1{
                color: #d13434;
            }
        }
        .style-two{
            padding:15px;
            margin-bottom:10px;
            border:1px solid black;
            border-radius: 10px;
            h1{
                color: #3f3fb3;
            }
        }
        .style-three{
            padding:15px;
            margin-bottom:10px;
            border:1px solid black;
            border-radius: 10px;
            h1{
                color: #45c656;
            }
        }
    }
    aside{
        grid-column:2/2;
        margin-left:10px;
        border-radius:5px;
        border:1px solid black;
        display:grid;
        grid-template-columns:auto;
        justify-content:center;
        .pic-one{
            grid-column:1/1;
            border-radius: 10px;
            margin-top:20px;
        }
        .pic-two{
            grid-column:2/1;
            border-radius: 10px;
            margin-bottom:10px;
        }
    }
}

.container{
    margin-top:50px;
    margin-left:50px;
    position:relative;
    width:800px;
    height:400px;
    background-color:white;
    border:4px solid black;
    display:flex;
    .circle-one{
        width:100px;
        height:100px;
        border-radius:50%;
        position: absolute;
        background-color: blue;
        z-index:1; /*setter at den ligger først, ellers legges de som er sist først*/
        margin-left: 250px;
        margin-top: 70px;
    }
    .circle-two{
        width: 120px;
        height: 120px;
        border-radius:50%;
        position: absolute;
        background-color:red;
        margin-left: 450px;
        margin-top: 120px;
    }
    .circle-three{
        width:80px;
        height:80px;
        border-radius:50%;
        position: absolute;
        background-color:yellow;
        margin-left: 400px;
        margin-top: 80px;
    }
    .rectangle-one{
        width:200px;
        height:100px;
        position: absolute;
        background-color: green;
        margin-left: 100px;
        margin-top: 80px;
    }
    .rectangle-two{
        width: 120px;
        height:80px;
        position: absolute;
        background-color: purple;
        margin-left: 300px;
        margin-top: 90px;
    }
}

footer{
    margin-bottom:30px;
    margin-top:20px;
    display:flex;
    justify-content:center;
    .footer-left{
        margin-left:10px;
        margin-right:5px;
        width:600px;
        height:80px;
        background-color:grey;
        border-radius:5px;
    }
    .footer-right{
        margin-right:10px;
        margin-left:5px;
        width:600px;
        height:80px;
        background-color:grey;
        border-radius:5px;
    }
}