
body {
    background: skyblue;
    background-size: cover;
    background-attachment: fixed;
}

nav, .footer {
    background-color: black;
}

nav a, .footer a {
    color: whitesmoke;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.leftcolumn {
    float: left;
    width: 60%;
}

.rightcolumn {
    float: right;
    width: 30%;
    padding-left: 20px;
}

.middlecolumn {
    float: left;
    width: 80%;
}

.img {
    background-color: aliceblue;
    width: 250px;
    height: 250px;
    padding: 15px;
}

table {
    border-collapse: collapse;
    border: solid black 2px;
    text-align: center;
    width: 100%;
    margin: 20px 0;
}

tr {
    border-bottom: solid black 2px;
}

th, td {
    padding: 1em;
    border: dashed black 2px;
}

tbody tr:nth-child(odd) {
    background-color: rgb(222, 222, 225);
}

tbody tr:nth-child(even) {
    background-color: rgb(210, 210, 222);
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn, .middlecolumn {
        width: 90%;
        padding: 20px;
    }
    
    .row {
        flex-direction: column;
    }
}