
body {
    padding: 30px;
}

nav, .footer {
    background-color: white;
}

.container {
    width: 600px;
    border: 2px solid rgb(252, 247, 245);
    background-color: rgb(105, 88, 76);
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 80px;
    row-gap: 50px;
    align-self: center;
    padding: 100px;
    margin: 30px auto;
}

.container > div {
    padding: 30px;
    background-color: burlywood;
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
}

.container a {
    color: black;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 700px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 20px;
    }
}