* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1.25rem;
    color: #1b281b;
    line-height: 1.6;
    text-align: center;
}

header {
    text-align: center;
}

h1 {
    color: #4676a9;
    font-size: 7.5rem;
    text-align: center;
    line-height: 1.1;
}

h2 {
    color: #cb721c;
    font-size: 2.5rem;
    inline-size: 350px;
    background: pink;
    text-align: center;
}

section {
    margin-block: 100px;
}

a {
    color: inherit;
}

.p {
    margin-block: 10px;
    margin-inline: 10px;
    padding: 5px 10px 15px 15px;
    background-color: orangered;
    block-size: 60px;
    padding-inline: 500PX;
    border-color: #1b281b;
    border-style: solid;
    border-width: 5px;
}

