section{
    margin:2rem;
}

.container{
    width:800px;
    height:400px;
    border:4px solid black;
    margin-top:100px;
    margin-left:100px;
    background-color:grey;
    position:relative;
    .rectangle-two{
        width: 200px;
        height: 80px;
        border:2px solid black;
        position:absolute;
        background-color:green;
        margin-left:200px;
        margin-top:80px;
    }
    .rectangle-one{
        width: 220px;
        height: 100px;
        border:2px solid black;
        position:absolute;
        background-color:purple;
        margin-left:500px;
        margin-top:280px;
    }
    .circle-three{
        width: 80px;
        height: 80px;
        border:2px solid black;
        border-radius:50%;
        position:absolute;
        background-color:blue;
        margin-left:80px;
        margin-top:80px;
    }
    .circle-two{
        width: 120px;
        height: 120px;
        border:2px solid black;
        border-radius:50%;
        position:absolute;
        background-color:yellow;
        margin-left:50px;
        margin-top:220px;
    }
    .circle-one{
        width: 100px;
        height: 100px;
        border:2px solid black;
        border-radius:50%;
        position:absolute;
        background-color:red;
        margin-left:600px;
        margin-top:20px;
    }
}

tbody tr:nth-child(odd){
    background-color:blue;
}